:root {
  --logo-background: #cfd1be;
  --primary-green: #508b46;
  --secondary-green: #719e68;
  --primary-blue: #05668d;
  --primary-pink: #966b9d;
  --logo-font: "Fira Sans", sans-serif;
  --text-font: "Nunito Sans", sans-serif;
  /* tam font padrão: 16px - 100% - 1rem  */
  font-size: 60%; /* controle das medidas rem */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

#wrapper {
  background: rgb(207, 209, 190);
  background: linear-gradient(
    180deg,
    rgba(207, 209, 190, 1) 0%,
    rgb(187, 187, 187) 100%,
    /* #fff 40% */
  );
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  font-size: 2rem;
  font-family: var(--logo-font);
  color: var(--primary-green);

  /* background-color: var(--logo-background); */
}

.logo-header {
  display: flex;
  align-items: center;
}

.button-contact {
  height: fit-content;

  padding: 1rem;
  border: var(--secondary-green);
  border-radius: 0.5rem;
  background-color: var(--secondary-green);

  cursor: pointer;

  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--text-font);
}

hr {
  border: #a1a1a1ec 0.1rem solid;
}

#about {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5rem;

  /* background-color: var(--logo-background); */

  font-family: var(--text-font);

  padding: 8rem 3rem 20rem 3rem;
}

.description {
  gap: 5rem;

  display: flex;
  flex-direction: column;
  align-items: end;

  text-align: right;
}

.description h2 {
  font-size: 6rem;
}

.description p {
  width: 70%;
  font-size: 2.5rem;
}

.title-strong {
  font-family: var(--logo-font);
}

#solutions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;

  margin-bottom: 20rem;

  font-family: var(--text-font);
}

#solutions h2 {
  font-family: var(--logo-font);
  font-size: 5rem;
}

#solutions div {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 60%;

  padding: 2rem;
}

#solutions .image img {
  border-radius: 50rem;
}

#solutions .text {
  display: flex;
  flex-direction: column;
  align-items: start;

  /* border: #000000 1px solid;
  border-radius: 1.5rem; */
}

#solutions h3 {
  font-size: 3rem;
}

#solutions p {
  font-size: 2rem;
}
